.page-title{
    text-align: center;
}

.question-info{
    text-align: center;
}

.avatar{
    width: 38px;
    height: 38px;
    border-radius: 3px;
}

.comment-group{
    list-style: none;
    padding-left: 0;
}